.form {
  margin-top: 20vh;
}

.input {
  display: block;
  width: 50vh;
  height: 4vh;
  padding-left: 1vh;
  font-size: 3vh;
  color: #ffffff;
  background-color: rgba(181, 181, 181, 0.547);
  border: 3px solid #8a8a8a;
  border-radius: 0.25rem;
  transition: 0.5s;
  &::placeholder {
    transition: 0.5s;
    font-size: 3vh;
    color: rgb(255, 255, 255);
  }
  &:hover {
    border-color: rgba(223, 223, 223, 0.932);
  }
  &:active {
    border-color: rgba(0, 0, 0, 0);
  }
  &:hover::placeholder {
    transition: 0.2s;
    color: rgba(181, 181, 181, 0.547);
  }
  &:active::placeholder {
    transition: 0.8s;
    color: #ffffff;
  }
}
